{% extends 'admin/base.html.twig' %}

{% block title %}Modification de l'utilisateur {{ user.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification de l'utilisateur <em>{{ user.fullName }}</em></h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <p><strong>Prénom     :</strong> {{ user.firstName }}</p>
                    <p><strong>Nom        :</strong> {{ user.lastName }}</p>
                    <p><strong>Email      :</strong> {{ user.email }}</p>
                    <p><strong>URL avatar :</strong> {{ user.picture }}</p>
                </div>
                {{ form_row(form.introduction) }}
                {{ form_row(form.description) }}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Enregistrer les modifications
                </button>

            </div>
        </div>

        {{ form_end(form) }}

    </div>


{% endblock %}

